
.dropdown {
    position: relative;
    display: inline-block;
}

.New {
  padding: 10px 20px;
  background-color: white;
  /* color: white; */
  /* border: none; */
  color: black;
  cursor: pointer;
  border-radius: 20px;
  /* border: 29px white;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}




